a {
	color: #000099;
	text-decoration: none;
}
a:hover {
	color: #C6D8F4;
}
.textopeque {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.superpequeño {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: super;
}
.subpeque {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: sub;
}
.parapop {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	background-color: #f1f1f1;
	text-align: justify;
	display: block;
	padding: 4px;
	width: 280px;
	border: thin dashed #1B64D7;
	margin: 4px;
}
.sobre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: overline;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.recuadro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-align: justify;
	display: block;
	padding: 4px;
	width: auto;
	border: 1px solid #C6D8F4;
	background-color: #f1f1f1;
}
.recuadroazul {
	border: 1px solid #C6D8F4;
}	
.titulo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;  
	color: #000099;
}
.subtitulo {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;  
	color: #1B64D7;
}
.textonormal {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: justify;
	color: #000000
}
.titulo_sabermas {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: bold;  
	color: #1B64D7;
}